body {
    background-color: #2C394B;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "header"
        "content"
    ;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}


.index {
    /* background-color: #082032; */
    background-color: #2C394B;
}

.lista-index p {
    color: white;
    margin-left: 1rem;
}

.lista-index li {
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .lista-index li {
        margin-right: 30px;
    }
}

.transicion {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

@media (min-width: 0px) {
    .item-sidebar:hover {
        color:white;
    }
}

@media (min-width: 768px) {
    .item-sidebar:hover {
        color:red
    }
}

.tabla {
    width: 100%;
    margin: 10px;
    /* border-radius: ; */
    /* overflow-y: scroll; */
}

.tabla td,
.tabla th {
    padding: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border: 1px solid #ddd; */
}

.tabla th {
    /* background-color: #04aa46; */
    /* @apply bg-warmGray-500; */
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.tabla tr:nth-child(even) {
    /* background-color: #f2f2f2; */
}

.tabla tr:hover {
    /* background-color: #ddd; */
}